<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(({productData, quantity}) => { %>
                        <li>
                            <p><%= productData.title %>  (<%= quantity %>)</p>

                            <form method="post" action="/cart-delete-item">
                                <input type="hidden" name="productId" value="<%= productData.id %>" >
                                <button type="submit" class="btn">Delete</button>
                            </form>

                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No products</h1>
            <% } %>

        </main>

<%- include('../includes/end.ejs') %>